body{
    background:f3f3f3;
    color:#333;
    width:100%
    font-family:sans-serif;
    margin:0 auto;
}
.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#D69283;
    color:#fff;
}
.menu{
    background-color:#D69283;
    height:50px;
    line-height:50px;
    position:relative;
    width:90%;
    margin:0 auto;
    padding:0 auto;
}
.jarak{
    padding:0 2pc;
}
.menu ul{
    list-style:none;
}

.menu ul li a {
    float:left;
    width:70px;
    display:block;
    text-align:center;
    color:#FFF;
    text-decoration:none;
}

.menu ul li a:hover {
    background-color:#4b88bb;
    display:block;
}











